<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--<bean id="contextBuilder" class="com.jd.cap.common.builder.DefaultContextBuilder">-->
        <!--<property name="configService" ref="configServiceImpl"/>-->
        <!--<property name="configType" value="${service.config.type}"/>-->
        <!--<property name="desKey" value="${des.key}"/>-->
        <!--<property name="parameters">-->
            <!--<map>-->
                <!--<entry key="http.client" value-ref="httpClient"/>-->
            <!--</map>-->
        <!--</property>-->
    <!--</bean>-->

    <context:component-scan base-package="com.zeus.data.api.service.impl"/>
    <!--<context:component-scan base-package="com.jd.cap.integration"/>-->

</beans>